@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --soft-background: #ededed;
  --foreground: #1d1d1f;
  --highlight: #30b472;
  --soft-highlight: #53c12a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

#highlight {
  background: var(--highlight);
}
